<!--- list the product details -->
<h2><%="Check out this awesome product information!" %></h2>

<p><%= "----" %></p>
<p><%= "Title: #{@product.title}" %></p>
<p><%= "Description: #{@product.description}" %></p>
<p><%= "Price: $#{@product.price}" %></p>
<p><%= "----" %></p>

<p><%= link_to "Back" , "/stores/#{@product.store_id}/products" %></p>

<!--- link to create a new product -->