<!--- list the product details -->
<h2><%="Check out this awesome product from our #{@store.location} store!" %></h2>

<p><%= "----" %></p>
<p><%= "Title: #{@product.title}" %></p>
<p><%= "Description: #{@product.description}" %></p>
<p><%= "Price: $#{@product.price}" %></p>
<p><%= "----" %></p>

<p><%= link_to "All products available in #{@store.location}" , "/stores/#{@product.store_id}/products" %></p>
