<!DOCTYPE html>
<html>
<head>
  <title>EcommerceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div><%= link_to "Home" , "/" %></div>
<div><%= link_to "Stores Index" , "/stores" %></div>
<%= yield %>

</body>
</html>
